.idea/workspace.xml
frontend/html/assets/index-D_ryMEPs.js
frontend/html/assets/index-X8b7Z_4p.css
frontend/html/bg.png
frontend/html/favicon.ico
frontend/html/favicon.svg
frontend/html/html.meta.json.gz
frontend/html/index.html
.idea/vcs.xml
